@import "variables";
@import "src/view/assets/typography/typography";

.wrapper {
  padding-left: 27px;
  padding-right: 27px;
}

.lock-scroll {
  overflow: hidden;
}

@media (min-width: $desktop) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1270px;
  }
}
