<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Thank you for your order (#R650000650)</title>


</head>

<body>
<head></head>
<body style="font-family: Helvetica,sans-serif;padding: 0;margin: 0;-webkit-font-smoothing: antialiased;color: #616161;">
<table class="wrapper" style="margin: 0;background: #fff;border: 0;width: 100%;text-align: center;">
    <tbody>
    <tr>
        <td class="content-wrap" style="border: 0;width: 600px;text-align: center;background: #f5f5f5;">
            <table class="content" style="margin: 0 auto;border: 0;width: 600px;text-align: center;">
                <tbody>
                <tr>
                    <td class="em-spacer-1" style="height: 26px;"></td>
                </tr>
                <tr class="casper-header-row">
                    <td class="casper-header-td" style="text-align: center;">
                        <a href="https://casper.com?utm_source=casper%20support&amp;utm_campaign=order%20confirmation&amp;utm_medium=email&amp;utm_content=thank%20you%20for%20your%20order"
                           target="_blank">
                            <img src="https://operator-production.herokuapp.com/images/mailer/casper.png"
                                 class="casper-header-logo" margin="0 auto"
                                 style="display: block;max-width: 90px;width: 90px;margin: 0 auto;border: 0!important;outline: 0!important;">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="em-spacer-1" style="height: 26px;"></td>
                </tr>

                <tr>
                    <td class="box" style="background: #fff;padding: 0 25px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                               style="margin: 0 auto;">
                            <tbody>
                            <tr>
                                <td align="center">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                           style="margin: 0 auto;">
                                        <tbody>
                                        <tr>
                                            <td align="center" class="em_hero_td">
                                                <a href="https://casper.com/?utm_source=casper%20support&amp;utm_campaign=order%20confirmation&amp;utm_medium=email&amp;utm_content=thank%20you%20for%20your%20order"
                                                   target="_blank">
                                                    <img src="https://operator-production.herokuapp.com/images/mailer/countdown-to-better-sleep.jpg"
                                                         style="width: 100%;height: auto;">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <h1 class="hero-primary"
                                                    style="text-transform: uppercase;font-size: 28px;color: #283375;margin-top: 9px;">
                                                    Countdown To Better Sleep </h1>
                                            </td>
                                        </tr>
                                        <tr class="lead-wrap" style="text-align: center;width: 100%;">
                                            <td class="lead"
                                                style="font-family: Helvetica,sans-serif;text-align: center;border-collapse: collapse;font-size: 18px;letter-spacing: .045em;line-height: 24px;mso-line-height-rule: exactly;">

                                                Smiles Davis, we’ve received your order and all<br>systems are go. When
                                                your order ships, we’ll send<br>you another email with your tracking
                                                info.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="em-spacer-1" style="height: 26px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="order-link-wrap" style="text-align: center;font-size: 14px;">
                                                <strong>
                                                    Order: <a href="#" style="color: #0047be;" target="_blank">R650000650</a>
                                                    <span class="pipe">
|                                    </span>
                                                    Date ordered: 07/08/2017
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="em-spacer-1" style="height: 26px;"></td>
                                        </tr>
                                        <tr>
                                            <td class="em-spacer-2" style="height: 52px;"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="em-spacer-1" style="height: 26px;"></td>
                </tr>
                <tr>
                    <td class="box box-ext order-summary-box"
                        style="background: #fff;padding: 0 25px;text-align: center;">
                        <table class="two-col ledger"
                               style="margin: 0 auto;font-size: 14px;line-height: 22px;width: 546px;text-align: left;">
                            <tbody>
                            <tr>
                                <td class="em-spacer-1" style="height: 26px;"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="left" class="column column-1" style="margin: 0 auto;width: 270px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <strong class="title"
                                                        style="text-transform: uppercase;display: block;margin-bottom: 5px;">
                                                    Billing Address </strong>
                                                Smiles Davis<br>
                                                XXXX XXXXXX XXX

                                                <br>
                                                XXXXXX, XX XXXXX
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="left" class="column column-2" style="margin: 0 auto;width: 270px;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <strong class="title"
                                                        style="text-transform: uppercase;display: block;margin-bottom: 5px;">
                                                    Shipping Address </strong>
                                                Smiles Davis<br>
                                                XXXX XXXXXX XXX


                                                <br>
                                                XXXXXX, XX XXXXX
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="em-spacer-1" style="height: 26px;"></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="order-summary"
                               style="margin: 0 auto;text-align: left;width: 546px;border-top: 2px solid #eee;">
                            <tbody>
                            <tr>
                                <td class="em-spacer-0" style="height: 20px;"></td>
                            </tr>
                            <tr class="line-item">
                                <td class="line-item product-thumb-column" style="width: 80px;">
                                    <img alt="Queen" class="product-thumb" height="80" width="80"
                                         src="https://casper1.imgix.net/mattress-thumb.jpg?auto=format&amp;h=80&amp;w=80"
                                         style="width: 80px;height: 80px;">
                                    <div class="row-spacer" style="height: 8px;"></div>
                                </td>
                                <td class="line-item product-info-column" style="width: 200px;">
                                    <div class="title" style="margin-bottom: 5px;">
                                        The Mattress
                                    </div>
                                    <div class="sub" style="font-size: 13px;margin-bottom: 3px;">
                                        Queen
                                    </div>
                                    <div class="sub" style="font-size: 13px;margin-bottom: 3px;">
                                        Qty: 1
                                    </div>
                                </td>
                                <td class="line-item product-price-column"
                                    style="width: 100px;text-align: right;vertical-align: top;">
                                    <div class="sub price" style="font-size: 13px;margin-bottom: 3px;margin-top: 18px;">
                                        $950.00
                                    </div>
                                    <div class="ships-by-message" style="font-size: 13px;padding-top: 4px;">
                                        <strong style="font-weight: 400;">
                                            Ready to Ship </strong>
                                    </div>
                                </td>
                            </tr>

                            <tr class="line-item">
                                <td class="line-item product-thumb-column" style="width: 80px;">
                                    <img alt="Queen" class="product-thumb" height="80" width="80"
                                         src="https://casper0.imgix.net/mattress-protector-thumb.jpg?auto=format&amp;h=80&amp;w=80"
                                         style="width: 80px;height: 80px;">
                                    <div class="row-spacer" style="height: 8px;"></div>
                                </td>
                                <td class="line-item product-info-column" style="width: 200px;">
                                    <div class="title" style="margin-bottom: 5px;">
                                        The Mattress Protector
                                    </div>
                                    <div class="sub" style="font-size: 13px;margin-bottom: 3px;">
                                        Queen
                                    </div>
                                    <div class="sub" style="font-size: 13px;margin-bottom: 3px;">
                                        Qty: 1
                                    </div>
                                </td>
                                <td class="line-item product-price-column"
                                    style="width: 100px;text-align: right;vertical-align: top;">
                                    <div class="sub price" style="font-size: 13px;margin-bottom: 3px;margin-top: 18px;">
                                        $85.00
                                    </div>
                                    <div class="ships-by-message" style="font-size: 13px;padding-top: 4px;">
                                        <strong style="font-weight: 400;">
                                            Ready to Ship </strong>
                                    </div>
                                </td>
                            </tr>

                            <tr class="line-item">
                                <td class="line-item product-thumb-column" style="width: 80px;">
                                    <img alt="Standard" class="product-thumb" height="80" width="80"
                                         src="https://casper0.imgix.net/pillow-thumb.jpg?auto=format&amp;h=80&amp;w=80"
                                         style="width: 80px;height: 80px;">
                                    <div class="row-spacer" style="height: 8px;"></div>
                                </td>
                                <td class="line-item product-info-column" style="width: 200px;">
                                    <div class="title" style="margin-bottom: 5px;">
                                        The Pillow
                                    </div>
                                    <div class="sub" style="font-size: 13px;margin-bottom: 3px;">
                                        Standard
                                    </div>
                                    <div class="sub" style="font-size: 13px;margin-bottom: 3px;">
                                        Qty: 2
                                    </div>
                                </td>
                                <td class="line-item product-price-column"
                                    style="width: 100px;text-align: right;vertical-align: top;">
                                    <div class="sub price" style="font-size: 13px;margin-bottom: 3px;margin-top: 18px;">
                                        $110.00
                                    </div>
                                    <div class="ships-by-message" style="font-size: 13px;padding-top: 4px;">
                                        <strong style="font-weight: 400;">
                                            Ready to Ship </strong>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="em-spacer-0" style="height: 20px;"></td>
                            </tr>
                            <tr>
                                <td class="divider" colspan="3" style="border-bottom: 2px solid #eee;"></td>
                            </tr>
                            <tr>
                                <td class="em-spacer-1" style="height: 26px;"></td>
                            </tr>
                            <tr class="total-row" style="font-size: 14px;">
                                <td class="copy" colspan="2" style="text-align: right;">
                                    Subtotal
                                </td>
                                <td class="value" style="text-align: right;">
                                    $1,145.00
                                </td>
                            </tr>
                            <tr class="total-row" style="font-size: 14px;">
                                <td class="copy" colspan="2" style="text-align: right;">
                                    Gift Code
                                </td>
                                <td class="value" style="text-align: right;">
                                    -$75.00
                                </td>
                            </tr>
                            <tr class="total-row" style="font-size: 14px;">
                                <td class="copy" colspan="2" style="text-align: right;">
                                    Shipping
                                </td>
                                <td class="value" style="text-align: right;">
                                    $0.00
                                </td>
                            </tr>
                            <tr class="total-row" style="font-size: 14px;">
                                <td class="copy" colspan="2" style="text-align: right;">
                                    Sales Tax
                                </td>
                                <td class="value" style="text-align: right;">
                                    $104.04
                                </td>
                            </tr>
                            <tr class="total-row total" style="font-size: 14px;">
                                <td class="copy" colspan="2" style="text-align: right;padding-top: 10px;">
                                    <strong>
                                        Total </strong>
                                </td>
                                <td class="value" style="text-align: right;padding-top: 10px;">
                                    <strong>
                                        $1,174.04 </strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="em-spacer-0" style="height: 20px;"></td>
                            </tr>
                            <tr>
                                <td class="divider" colspan="3" style="border-bottom: 2px solid #eee;"></td>
                            </tr>
                            <tr>
                                <td class="em-spacer-2" style="height: 52px;"></td>
                            </tr>


                            <tr align="center">
                                <td class="lead secondary" colspan="3"
                                    style="font-family: Helvetica,sans-serif;text-align: center;border-collapse: collapse;font-size: 14px;letter-spacing: .045em;line-height: 24px;mso-line-height-rule: exactly;width: 100%;">

                                    Items in your order may ship separately.<br>View <a href="#" target="_blank">your
                                    order</a> for shipping updates.
                                </td>
                            </tr>
                            <tr>
                                <td class="em-spacer-2" style="height: 52px;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="em-spacer-1" style="height: 26px;"></td>
                </tr>
                <tr>
                    <td class="box box-ext cx-info-box"
                        style="background: #fff;padding: 0 25px;text-align: center;color: #2a3376;">
                        <table class="info-cta" style="margin: 0 auto;">
                            <tbody>
                            <tr>
                                <td class="em-spacer-5" style="height: 32px;text-align: center;"></td>
                            </tr>
                            <tr>
                                <td class="title"
                                    style="text-align: center;font-weight: 700;text-transform: uppercase;font-size: 19px;padding-bottom: 18px;">
                                    Questions? We're on call.
                                </td>
                            </tr>
                            <tr>
                                <td class="info" style="text-align: center;">
                                    Monday to Friday 9am - 9pm ET
                                </td>
                            </tr>
                            <tr>
                                <td class="info" style="text-align: center;">
                                    Saturday to Sunday 10am - 6pm ET
                                </td>
                            </tr>
                            <tr>
                                <td class="links" style="text-align: center;padding-top: 20px;">
                                    <img src="https://operator-production.herokuapp.com/images/mailer/icon-bubble.jpg"
                                         class="icon-bubble" style="width: 28px;margin-bottom: -9px;margin-right: 3px;">
                                    +1 888–498–0003 <span class="pipe">
                              &nbsp;|&nbsp;
                            </span>
                                    <img src="https://operator-production.herokuapp.com/images/mailer/icon-email.jpg"
                                         class="icon-email" style="margin-bottom: -6px;margin-right: 1px;width: 28px;">
                                    support@casper.com
                                </td>
                            </tr>
                            <tr>
                                <td class="em-spacer-5" style="height: 32px;text-align: center;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="em-spacer-1" style="height: 26px;"></td>
                </tr>
                <tr>
                    <td class="box box-ext referral-box"
                        style="background: #00237d;padding: 0 25px;text-align: center;color: #fff;font-family: Helvetica">
                        <table class="referral-info" style="margin: 0 auto;">
                            <tbody>
                            <tr>
                                <td class="em-spacer-1" style="height: 26px;text-align: center;"></td>
                            </tr>
                            <tr align="center">
                                <td class="friends-img-wrap" style="padding-bottom: 8px;text-align: center;">
                                    <a href="https://casper.com/anon/friends?utm_campaign=order+confirmation&amp;utm_content=thank+you+for+your+order&amp;utm_medium=email&amp;utm_source=casper+support"
                                       target="_blank" style="color: #fff;">
                                        <img src="https://operator-production.herokuapp.com/images/mailer/friends.jpg"
                                             width="68">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="title"
                                    style="text-align: center;padding-bottom: 10px;font-weight: 700;text-transform: uppercase;font-size: 19px;">
                                    Give $75, Get $50
                                </td>
                            </tr>
                            <tr>
                                <td class="info" style="text-align: center;">
                                    Refer friends, earn rewards.
                                </td>
                            </tr>
                            <tr>
                                <td class="em-spacer-0" style="height: 20px;text-align: center;"></td>
                            </tr>
                            <tr>
                                <td class="link" style="text-align: center;">
                                    <a href="https://casper.com/anon/friends?utm_campaign=order+confirmation&amp;utm_content=thank+you+for+your+order&amp;utm_medium=email&amp;utm_source=casper+support"
                                       target="_blank" style="color: #fff;">Learn More</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="em-spacer-1" style="height: 26px;text-align: center;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>


                </tbody>
            </table>
            <table style="margin: 0 auto;">
                <tbody>
                <tr>
                    <td class="em-spacer-2" style="height: 52px;"></td>
                </tr>
                <tr>
                    <td class="footer footer-1" style="color: #999;font-size: 13px;">
                        +1 888–498–0003 <span class="pipe">
        &nbsp;|&nbsp;
      </span>
                        support@casper.com
                    </td>
                </tr>
                <tr>
                    <td class="em-spacer-0" style="height: 20px;"></td>
                </tr>
                <tr>
                    <td align="center" class="footer footer-2" style="color: #999;font-size: 13px;">
                        <table class="footer-icons" style="margin: 0 auto;width: 153px;">
                            <tbody>
                            <tr>
                                <td class="footer-icon">
                                    <a href="https://www.instagram.com/casper/" target="_blank" style="color: #0047be;">
                                        <img src="https://operator-production.herokuapp.com/images/mailer/social/instagram.png"
                                             width="31" height="31">
                                    </a>
                                </td>
                                <td class="footer-icon">
                                    <a href="https://www.pinterest.com/caspersleep/" target="_blank"
                                       style="color: #0047be;">
                                        <img src="https://operator-production.herokuapp.com/images/mailer/social/pinterest.png"
                                             width="31" height="31">
                                    </a>
                                </td>
                                <td class="footer-icon">
                                    <a href="https://twitter.com/casper" target="_blank" style="color: #0047be;">
                                        <img src="https://operator-production.herokuapp.com/images/mailer/social/twitter.png"
                                             width="31" height="31">
                                    </a>
                                </td>
                                <td class="footer-icon">
                                    <a href="https://www.facebook.com/casper" target="_blank" style="color: #0047be;">
                                        <img src="https://operator-production.herokuapp.com/images/mailer/social/facebook.png"
                                             width="31" height="31">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<table style="margin: 0 auto;">
    <tbody>
    <tr>
        <td class="copyright-footer" style="padding-top: 15px;padding-bottom: 20px;font-size: 11px;color: #b2b2b2;">
            230 Park Avenue South, 13th Floor, New York, NY, 10003 <span class="pipe">
      &nbsp;|&nbsp;
    </span>
            © 2017 Casper Sleep Inc.
        </td>
    </tr>
    </tbody>
</table>

<!-- class content -->


</body>


</body>
</html>
