@import "src/view/assets/styles/variables";

.footer {
  background-color: #000;
  min-width: 320px;
  min-height: 500px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 600px) {
    min-height: 230px;
  }

  .title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
  }

  .link {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
  }
}