@import "src/view/assets/styles/variables";

.colorButton{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}

.color{
  margin: auto;
  display: block;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  height: 21px;
  width: 21px;
}

.colorName{
  font-family: Open Sans, sans-serif;
  margin-top: .9rem!important;

  &::after{
    content: '';
    display: block;
    width: 100%;
    background-color: transparent;
    height: 1px;
  }
}


.colorName.active {

  &::after {
    background-color: #000000;
  }
}

@media (min-width: $desktop) {
  .colorButton{
    flex-direction: row;

  }

  .colorName{
    margin-top: 0!important;
    margin-left: 2vw!important;
    color: #ffffff;
  }

  .colorName.active {

    &::after {
      background-color: #ffffff;
    }
  }
}