a{
  text-decoration: none;
}

.active{
  position: absolute;
  z-index: 1;
  width: 100%;
  right: 0;
  background-color: #000000;
  top: 124px;
  transition: all 0.5s ease-out;
  opacity: 2;
  height: 100vh;
}
.closed{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  right: 100vh;
  background-color: #000000;
  top: 124px;
  transition: all 0.5s ease-out;
  opacity: 0;
}

