a{
    color: #FFFFFF;
}

.NavItemBtn.active{
    border-bottom: 1px solid #FFFFFF;
}
.NavItemBtn{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    background: none;
    cursor: pointer;
}
.NavItemBtn:hover{
    border-bottom: 1px solid #FFFFFF;
}

.catalogNavWrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 21px;
}