@import "./../../../assets/styles/variables";

a {
  color: #FFFFFF;
}

.catalogNavWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 21px;
}

.dropdown {
  height: 100vh;
  right: 200vw;
  background-color: #000000;
  top: 124px;
}

.dropdownActive{
  right: 0;
}

.categoryNav {
  height: 70%;
  overflow-y: auto;
}

.categoryList {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}

.categoryListItem {
  margin-top: 10px;
  margin-bottom: 10px;
}

.categoryLink {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  line-height: 25px;

  &:hover {
    border-bottom: 1px solid #FFFFFF;
  }
}

.categoryLinkActive {
  border-bottom: 1px solid #FFFFFF;
}


@media screen and (min-width: $min-desktop){
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
    width: 335px;
  }
  .dropdown {
    top: 93px;
    height: 50vh;
  }
}
