@import "./../../../assets/styles/variables";

a {
  color: #ffffff;
}

.catalogNavWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 14px !important;
  padding-bottom: 11px !important;
  z-index: 10;
}

.dropdown {
  height: 100vh;
  right: 200vw;
  background-color: #000000;
  top: 124px;
}

.dropdownActive {
  right: 0;
}

.categoryNav {
  height: 70%;
  overflow-y: auto;
}

.categoryList {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 40px;
}

.categoryListItem {
}

.categoryLink {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  line-height: 25px;

  &:hover {
    border-bottom: 1px solid #ffffff;
  }
}

.categoryLinkActive {
  border-bottom: 1px solid #ffffff;
}

@media screen and (min-width: $min-desktop) {
  .dropdown {
    top: 93px;
    right: 200vh;
    height: 64.25vh;
    opacity: 0;
  }

  .dropdownActive {
    right: 0;
    opacity: 1;
  }

  .categoryList {
    height: 100%;
    align-content: flex-start;
  }

  .categoryListItem {
    margin-right: 17% !important;
  }

  .categoryNav {
    overflow-y: unset;
  }

  .categoriesTitle {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 48px;
    margin-top: 6vh;
  }
}
