.nav{
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
}

.inner{
  display: flex;
  justify-content: space-between;
}

.nav:after{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #C4C4C4;
  position: absolute;
  bottom: 0;
}