.listItem{
  padding-top: 29px;
}
.listItemBody{
  display: flex;
  align-items: center;
}
.listItemText{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  list-style: none;
  padding-left: 5px;
}

.listItemTextUpper{
  font-family: Josefin Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  list-style: none;
  text-transform: uppercase;
}
