.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 12.6px;
}
.container{
  display: block;
}
.line{
  width: 14px;
  height: 1px;
  background-color: #C4C4C4;
}
.middleLine{
  width: 8px;
  height: 1px;
  background-color: #C4C4C4;
}

.dropdown {
  left: 200vw;
  background-color: #000000;
  top: 124px;
  height: 100%;
  overflow-y: auto;
}

.dropdownActive {
  left: 0;
}

.text{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.auth{
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  position: relative;
}

.auth:after{
  content: '';
  position: absolute;
  top: 39px;
  width: 270px;
  height: 1px;
  background-color: #FFFFFF;
}
.btn{
  border: none;
  background: none;
  color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}

.list{
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

