.productCard {
  list-style: none;
  width: 100%;
  height: 100%;

}

.productCardTitle
{
  text-transform: uppercase;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 25px;
}
.productImage{
  img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
.productCardPrice
{

  font-family: Open Sans;
  font-size: 18px;
  line-height: 25px;
  color: #847A7A;
  text-transform: uppercase;

}
