
.CategoryCard {

  height: 116px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
 &:last-child{
   height: 123px;
 }
  img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;

  }
  p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
}

