
.CategoryCard
{
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
p{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
}

