// JOSEFIN SANS

@font-face {
  font-family: "Josefin Sans";
  src: url("./josefin-sans/JosefinSans-Light.eot");
  src: url("./josefin-sans/JosefinSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./josefin-sans/JosefinSans-Light.woff2") format("woff2"),
    url("./josefin-sans/JosefinSans-Light.woff") format("woff"),
    url("./josefin-sans/JosefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./josefin-sans/JosefinSans-SemiBold.eot");
  src: url("./josefin-sans/JosefinSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./josefin-sans/JosefinSans-SemiBold.woff2") format("woff2"),
    url("./josefin-sans/JosefinSans-SemiBold.woff") format("woff"),
    url("./josefin-sans/JosefinSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./josefin-sans/JosefinSans-Bold.eot");
  src: url("./josefin-sans/JosefinSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./josefin-sans/JosefinSans-Bold.woff2") format("woff2"),
    url("./josefin-sans/JosefinSans-Bold.woff") format("woff"),
    url("./josefin-sans/JosefinSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./josefin-sans/JosefinSans-Regular.eot");
  src: url("./josefin-sans/JosefinSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./josefin-sans/JosefinSans-Regular.woff2") format("woff2"),
    url("./josefin-sans/JosefinSans-Regular.woff") format("woff"),
    url("./josefin-sans/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// JOSEFIN SANS END

// OPEN SANS

@font-face {
  font-family: "Open Sans";
  src: url("./open-sans/OpenSans-Regular.eot");
  src: url("./open-sans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./open-sans/OpenSans-Regular.woff2") format("woff2"),
    url("./open-sans/OpenSans-Regular.woff") format("woff"),
    url("./open-sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./open-sans/OpenSans-Bold.eot");
  src: url("./open-sans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("./open-sans/OpenSans-Bold.woff2") format("woff2"),
    url("./open-sans/OpenSans-Bold.woff") format("woff"),
    url("./open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./open-sans/OpenSans-SemiBold.eot");
  src: url("./open-sans/OpenSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./open-sans/OpenSans-SemiBold.woff2") format("woff2"),
    url("./open-sans/OpenSans-SemiBold.woff") format("woff"),
    url("./open-sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// OPEN SANS END
