.root {
  margin-top: 2.5vh !important;
}

.heading {
  font-family: Josefin Sans, sans-serif;
  font-weight: 600;
  margin-bottom: 1vh !important;
  color: #ffffff;
}

.list {
  padding: 0;
}

.listItem {
  margin-bottom: 0.9vh !important;
  cursor: pointer;

  &:hover {
    a {
      border-bottom: 1px solid #ffffff;
    }
  }
}

.link {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
}

.activeLink {
  border-bottom: 1px solid #ffffff;
}
