@import "./../../../../assets/styles/variables";
@import "src/view/assets/typography/typography";


.navItemsGroup{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navItem{
  padding-right: 30px;
  position: relative;
}
img{
  cursor: pointer;
}

@media screen and (min-width: $min-desktop){
  .navItemsGroup{
    width: 335px;
    justify-content: space-between;
  }
  .imageWrapper{
    padding-right: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Josefin Sans, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #E2DFDF;
    max-width: 125px;
  }
  .icon{
    padding-right: 5px;
  }
  .navItem{
    padding-right: 0;
  }
}