@import "src/view/assets/styles/variables";

.header {
  background: #000000;
  z-index: 20;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.inner {
  margin: 0 auto;
  min-width: 320px;
}

@media screen and (min-width: $min-desktop) {
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
  }
}
