.heading{
  font-family: Open Sans, sans-serif;
  color: #000000;
}

.filterBtn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  align-items: flex-end;
  font-family: Josefin Sans, sans-serif;
  font-size: 18px;
  line-height: 14px;
  color: #3F3D3D;
  margin-top: 2vh!important;
}

.filterIcon{
  position: relative;
  top: 2px;
  margin-right: 4px;
}


.dropdown{
  top: 68px;
  left: -200vw;
  bottom: 0;
  z-index: 22;
  background-color: #fff;
}

.dropdownActive{
  left: 0;
}
