@import "src/view/assets/styles/variables";

.content {
  height: 100%;
  padding-top: 124px !important;
}

.filter {
  position: sticky;
  top: 94px;
  left: 0;
  max-height: 100vh;
  background-color: #000000;
}

.contentInner {
  padding: 2vh 7vw !important;
}

.filterContentWrapper {
  height: auto;
  max-height: 100%;
  overflow: hidden scroll;
}

.filterContentInner {
  padding: 1vh 4vw 10vh;
}


@media (min-width: $desktop) {
  .content {
    padding-top: 94px !important;
  }

  .breadcrumbsContainer {
    padding: 1vh 4vw;
    border-top: 1px solid #C4C4C4;
    background-color: #000000;
  }
}


