@import "src/view/assets/styles/variables";
.content {
  height: 100%;
  padding-top: 69px!important;
}

.filter {
  height: 100%;
  background-color: #000000;
  overflow-y: auto;
}

.contentInner{
  padding: 2vh 7vw!important;
}

.filterInner{
  padding: 1vh 4vw 2vh;
}


@media (min-width:$desktop) {
  .content {
    padding-top: 94px!important;
  }

  .breadcrumbsContainer {
    padding: 1vh 4vw;
    border-top: 1px solid #C4C4C4;
    background-color: #000000;
  }
}


