
.content {
  height: 100%;
  padding-top: 9vh!important;
}

.filter {
  height: 100%;
  background-color: #000000;
  overflow-y: auto;
}

.contentInner{
  padding-left: 7vw;
  padding-right: 7vw;
}

.filterInner{
  padding: 1vh 4vw 2vh;
}



