@import "./../../assets/typography/typography";
@import "./../../assets/styles/variables";

.container{
  padding-top: 8vh;
  height: 100vh;
}
.test{
  color: black !important;
}
.wrapper {
  margin-top: 25px;
  padding-left: 27px;
  padding-right: 27px;
}
.tab{
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #373737;
}
.btnWrapper{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

@media (min-width: $min-desktop) {
  .container{
    padding-top: 12vh;
  }
  .wrapper {
    max-width: 60vw;
    margin: 0 auto;
  }
}