.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.slider{

  width: 800px;
  height: 500px;
}

.info {
  font-family: 'Open Sans', sans-serif;

  h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #000000;

  h2 {
    margin-right: 180px;
  }

  h2, span {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
  }
}

.itemNo {
  font-size: 14px;
  line-height: 19px;
  color: #847A7A;
}

.color {

  button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    display: inline;
    margin-right: 30px;
  }

}

.sizes {
  color: #000000;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;

  :hover {
    text-decoration: underline;
  }
}

.button {
  font-size: 20px;
  text-transform: uppercase;
  background: #000000;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 60px;
  padding: 18px 70px;
  border: none;
  margin-bottom: 200px;
}

.images {
  margin-top: 11px;
  margin-bottom: 180px;
  display: flex;
  justify-content: space-between;
  height: 200px;
}


