.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.slider{
  width: 800px;
  height: 500px;
}

.info {
  font-family: 'Open Sans', sans-serif;

  h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #000000;

  h2 {
    margin-right: 180px;
  }

  h2, span {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
  }
}

.itemNo {
  font-size: 14px;
  line-height: 19px;
  color: #847A7A;
}

.color {

  button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    display: inline;
    margin-right: 30px;
  }

  .active {
    width: 35px;
    height: 35px;
  }

}

.sizes {

  li {
    border: 2px solid black;
    padding: 7px;
    margin-right: 5px;
    color: #000000;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    display: inline-block;
  }

  li:hover {
    border: 3px solid black;
  }

  .active {
    background: #000000;
    color: #FFFFFF;
  }

  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}



.button {
  font-size: 20px;
  text-transform: uppercase;
  background: #FFFFFF;
  text-align: center;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 200px;
  color: black;
  padding: 18px 70px;
  border: 3px solid black;
}

.active_button {
  background: #000000;
  color: #FFFFFF;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 200px;
  padding: 18px 70px;
  border: 3px solid black;
}


.images {
  margin-top: 11px;
  margin-bottom: 180px;
  display: flex;
  justify-content: space-between;
  height: 200px;
}


