@import "src/view/assets/styles/variables";

.root {
  padding-top: 1vw;
}

.wrapper_carousel_product {
  width: 100%;
  height: 100%;
}

.info {
  font-family: 'Open Sans', sans-serif;
  color: #000000;

  h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
  }
}

.row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  h2, span {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.itemNo {
  font-size: 15px;
  color: #847A7A;
}

.colorLink{
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  color: #000000;
}

.color{
  margin: auto;
  display: block;
  border: 2px solid #C4C4C4;
  border-radius: 50%;
  height: 21px;
  width: 21px;
}
.colorName{
  font-family: Open Sans, sans-serif;

  &::after{
    content: '';
    display: block;
    width: 100%;
    background-color: transparent;
    height: 1px;
  }
}

.colorName.active{
  &::after {
    background-color: #000000;
  }
}

.description {
  font-size: 12px;
  line-height: 16px;
  width: 306px;
}

.sizes {

  li {
    border: 2px solid black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
  }

  li:hover {
    color: #ffffff;
    background: #000000;
  }

  .active {
    background: #000000;
    color: #FFFFFF;
  }

  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.buttonsGroup{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button_addToCart {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;

  .button {
    width: 263px;
    height: 57px;
    font-size: 15px;
    margin-right: 5px;
    text-transform: uppercase;
    background: #000000;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    border: none;
  }

  .active {
    background: #000000;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    width: 263px;
    height: 57px;
    cursor: pointer;
    margin-right: 5px;
  }
}
.favIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 55px;
  height: 57px;
  background-color: black;
}

.viewed_title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
}


@media (min-width:$desktop) {
  .root {
    padding-top: 7vw;
  }
  .buttonsGroup{
    justify-content: flex-start;
  }
  .favIcon{
    margin-left: 5px;
  }
  .wrapper_carousel_product {
    width: 400px;
    height: 500px;
  }

  .content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .info {
    font-family: 'Open Sans', sans-serif;
    color: #000000;

    h3 {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      margin-top: 50px;
      margin-bottom: 15px;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    h2 {
      margin-right: 180px;
    }

    h2, span {
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
    }
  }

  .itemNo {
    font-size: 14px;
    line-height: 19px;
    color: #847A7A;
  }


  .description {
    font-size: 12px;
    line-height: 16px;
    width: 600px;
  }

  .sizes {

    li {
      border: 2px solid black;
      margin-right: 5px;
      margin-top: 10px;
      font-size: 18px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      line-height: 30px;
    }

    li:hover {
      color: #ffffff;
      background: #000000;
    }

    .active {
      background: #000000;
      color: #FFFFFF;
    }

    .disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .button {
    font-size: 20px;
    text-transform: uppercase;
    background: #f3eeee;
    text-align: center;
    cursor: pointer;
    width: 249px;
    color: black;
    border: 3px solid black;

    .active {
      background: #000000;
      color: #FFFFFF;
      font-size: 20px;
      width: 249px;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      margin-top: 60px;
      border: 3px solid grey;
    }
  }

  .viewed_title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top: 150px;
  }
}

