@import "src/view/assets/styles/variables";

.sizeButton{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: auto;
  text-align: center;
  display: block;

  &::after{
    content: '';
    display: block;
    width: 100%;
    background-color: transparent;
    height: 1px;
  }
}

.sizeButton.active{
  &::after{
    background-color: #000000;
  }
}

@media (min-width: $desktop){
  .sizeButton{
    margin: unset;
    color: #ffffff;
  }
}
