@import "./../../../../assets/styles/variables";

.informationToast {
  bottom: 10vh!important;
}

.textFieldWrapper{
  margin-top: 76px;
  margin-bottom: 131px;
  position: relative;
}

.error{
  margin-top: 1rem;
  color: #ff0000;
}

.input{
  color: #000000!important;
}

.btnWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper{
  padding-right: 30px;
  position: relative;
}

.dropdown{
  top: 65px;
  right: 200vw;
  background-color: #FFFFFF;
  height: 100%;
}

.dropdownActive{
  right: 0;
}

.closeIcon{
  position: absolute;
  top: 24px;
  right: 0;
}




@media screen and (min-width: $min-desktop){
  .imageWrapper{
    padding-right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: Josefin Sans, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #E2DFDF;
  }

  .textFieldWrapper{
    margin-top: 7vh;
    margin-bottom: 10vh;
  }

  .form{
    display: block;
    width: 43vw;
    margin: 0 auto;
  }
  .dropdown{
    top: 94px;
    height: 40vh;

    & *{
      z-index: inherit;
    }
  }

  .dropdownActive::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
    z-index:9;
    opacity: .5!important;
  }

  .dropdownInner{
    background-color: #ffffff;

    opacity: 1;
  }

  .icon{
    margin-right: 5px;
  }
}