@import "./../../../../assets/styles/variables";
@import "src/view/assets/typography/typography";

.imageWrapper{
  padding-right: 30px;
  position: relative;
}

.dropdown{
  top: 67px;
  right: 200vw;
  background-color: #FFFFFF;
  height: 100%;
}

.dropdownActive{
  right: 0;
}

.textFieldWrapper{
  margin-top: 76px;
  margin-bottom: 131px;
  position: relative;

}
.closeIcon{
  position: absolute;
  top: 24px;
  right: 0px;
}
.btnWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: $min-desktop){
  .imageWrapper{
    padding-right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: Josefin Sans, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #E2DFDF;
  }
  .dropdown{
    top: 95px;
  }
  .icon{
    margin-right: 5px;
  }
}