.imageWrapper{
  padding-right: 30px;
  position: relative;
}

.dropdown{
  top: 67px;
  right: 200vw;
  background-color: #FFFFFF;
  height: 100%;
}

.dropdownActive{
  right: 0;
}

.textFieldWrapper{
  margin-top: 76px;
  margin-bottom: 131px;
  position: relative;

}
.closeIcon{
  position: absolute;
  top: 24px;
  right: 0px;
}
.btnWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}