.button{
  width: 263px;
  height: 57px;
  font-family: Josefin Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}